.container {
  width: 100%;
}
.container p {
  font-size: 17px;
  line-height: 22px;
  white-space: break-spaces;
}
.title {
  font-size: 33px;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 16px;
  width: 100%;
  padding: 0px 6px;
}
.wrapper {
  border-radius: 10px;
  background-color: rgb(235, 232, 229);
  height: fit-content;
  padding: 16px;
}
.originalMessageType {
  font-weight: 600;
  text-transform: capitalize;
}
.revisionsSection {
  display: grid;
  grid-template-columns: 11px 1fr;
  flex-direction: row;
  gap: 11px;
  height: fit-content;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  padding: 11px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.revisionsSection:first-child {
  padding-top: 0px;
}
.revisionsSection:nth-child(5) {
  padding-bottom: 0px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.08);
}
.revisionsSectionNumberWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding-bottom: 2px;
  height: 100%;
}
.revisionsSectionNumber {
  font-size: 20px;
  font-weight: 600;
}
.revisionsSectionDivider {
  min-width: 2px;
  background-color: rgba(0, 0, 0, 1);
  flex-grow: 1;
}
.revisionsSectionTitle {
  font-weight: 600;
  text-transform: capitalize;
}
.revisionsSectionBody {
  height: fit-content;
  overflow: hidden;
}
.copyButtonWrapper {
  width: 100%;
  background-color: transparent;
  height: 54px;
  text-transform: capitalize;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 19px;
  margin-bottom: -14px;

  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.copyButton {
  border: none;
  outline: none;
  stroke: none;
  font-size: 17px;
  line-height: 23px;
  font-weight: 600;
  letter-spacing: -0.01em;
  background-color: transparent;
  border-radius: 10px;
  height: 44px;
  width: 100%;
  transition: 100ms ease-in all;
  color: rgba(0, 0, 0, 1);
}

.wrapper:has(.copyButton) {
  margin-bottom: 36px;
}

@media screen and (min-width: 600px) {
  .copyButton:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: 100ms ease-out all;
  }
  .copyButton:active {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0ms ease-in all;
  }
}
